header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 24px 0 24px;
}

header img {
    width: 125px;
}

header a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

header .app-icon {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header ul.menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul.menu-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

header .nav-item:hover {
    cursor: pointer;
    animation: scale 0.1s ease forwards;
}

@keyframes scale {
    from{
        font-size: 1em;
    }
    to{
        font-size: 1.2em;
    }
}