header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 24px 0 24px;
}

header img {
    width: 125px;
}

header a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

header .app-icon {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header ul.menu-list {
    list-style: none;
}

header ul.menu-list li{
    display: inline-block;
    margin: 0 11px;
}

header .nav-item {
    cursor: pointer;
}
