header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 24px 0 24px;
}

header img {
    width: 125px;
}

header a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

header .app-icon {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header ul.menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul.menu-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

header .nav-item {
    cursor: pointer;
    text-shadow: 6px 6px 8px rgba(255, 255, 255, 0.4), -6px 6px 8px rgba(255, 255, 255, 0.4), -6px -6px 8px rgba(255, 255, 255, 0.4), 6px -6px 8px rgba(255, 255, 255, 0.4);
}
